---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Home"
  description="Home page"
  permalink="/"
  current="articles"
>
  <h1>Articles</h1>

  <p>Coming soon...</p>
</BaseLayout>
