/* the props */
@import "open-props/postcss/style";
/* @import "open-props/postcss/normalize"; */
@import "open-props/colors-hsl";
/* @import "open-props/postcss/buttons"; */
@import "./reset.css";
@import "./theme.css";

@use postcss-preset-env {
  stage: 0;
}

/* global props */

:root {
  --font-sans: "Nunito Sans", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif;
  --font-serif: "EB Garamond", ui-serif, serif;
}

/* typography */

body {
  color: var(--text-1);
  font-family: var(--font-sans);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-4);
  line-height: var(--font-lineheight-4);
}

@media (--sm-n-above) {
  body {
    font-size: var(--font-size-4);
    line-height: var(--font-lineheight-3);
  }
}

blockquote {
  padding-inline: var(--size-3);
  font-weight: var(--font-weight-7);
  border-left: var(--border-size-2) solid var(--brand);
  clear: both;
}

blockquote cite {
  display: block;
  font-size: var(--font-size-3);
  padding-top: var(--size-4);
  color: var(--text-2);
}

p,
ul,
ol {
  font-family: var(--font-serif);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--font-lineheight-0);
}

h1 {
  text-align: center;
  padding-top: var(--size-8);
  font-size: var(--font-size-6);
}

a {
  color: var(--brand);
  text-decoration: none;
}

a:hover {
  color: var(--brand-em);
}

a:visited {
  color: var(--text-2);
}

/* Utility */

.container {
  max-width: 60ch;
  margin: 0 auto;
  padding: 0 var(--size-5);
}

.flow > * + * {
  margin-top: var(--flow-space, 1.6rem);
}

/* Components */

.blog-card {
  --card-radius: var(--radius-3);
  background-color: var(--surface-2);
  width: 15rem;
  margin-inline: auto;
  border-radius: var(--radius-3);
  padding-bottom: var(--size-1);
}

.blog-card .tags,
.blog-card h2,
.blog-card .description,
.blog-card date {
  padding-inline: 1rem;
}

.blog-card .imageContainer {
  background-color: var(--surface-3);
  box-shadow: var(--shadow-2);
  border-radius: var(--card-radius);
  overflow: hidden;
}

.blog-card .tags {
  margin-top: var(--size-3);
  display: flex;
  gap: var(--size-1);
  font-size: var(--font-size-0);
  line-height: 1;
  align-self: start;
}

.blog-card .tag {
  color: black; /* TODO */
  background-color: pink; /* TODO */
  border-radius: 100vw;
  padding-inline: var(--size-2);
  display: inline-block;
}

.blog-card .description,
.blog-card date {
  color: var(--text-2);
}

.blog-card .description {
  color: var(--text-2);
  font-size: var(--font-size-1);
}

.blog-card date {
  display: block;
  font-size: var(--font-size-00);
  text-align: right;
}

.note {
  color: var(--text-2);
  font-size: var(--font-size-1);
}

.hero {
  display: block;
}
.heroImage {
  max-height: 12vh;
  float: left;
  padding-right: var(--size-4);
  padding-block: var(--size-4);
}

@media (--sm-n-above) {
  .hero {
    --flow-space: var(--size-8);
    display: flex;
  }

  h1 {
    margin-bottom: var(--size-9);
    font-size: calc(var(--font-size-8) * 1.5);
    text-transform: capitalize;
  }
  .heroImage {
    float: none;
    max-height: 33vh;
    padding-right: var(--size-6);
    align-self: center;
  }

  blockquote {
    font-size: var(--font-size-3);
    display: block;
    margin-left: var(--size-8);
  }
}
