/* the props */
@import "open-props/postcss/style";
/* @import "open-props/postcss/normalize"; */
@import "open-props/colors-hsl";
/* @import "open-props/postcss/buttons"; */
@import "./reset.css";
@import "./theme.css";

@use postcss-preset-env {
  stage: 0;
}

/* global props */

:root {
  --font-sans: "Nunito Sans", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif;
  --font-serif: "EB Garamond", ui-serif, serif;
}

/* typography */

body {
  font-family: var(--font-serif);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-4);
  line-height: var(--font-lineheight-4);
}

@media (--sm-n-above) {
  body {
    font-size: var(--font-size-4);
  }
}

blockquote {
  padding-inline: var(--size-3);
  font-weight: var(--font-weight-7);
  border-left: var(--border-size-2) solid var(--brand);
}

blockquote cite {
  display: block;
  font-size: var(--font-size-3);
  padding-top: var(--size-4);
  color: var(--text-2);
}

/* Utility */

.container {
  max-width: 60ch;
  margin: 0 auto;
  padding: 0 var(--size-5);
}

.flow > * + * {
  margin-top: var(--flow-space, 1.6rem);
}
