---
import BaseLayout from "../../layouts/BaseLayout.astro";
import TagPill from "../../components/TagPill.astro";
const allPosts = await Astro.glob("../posts/**/*.{md,mdx}");
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];

const firstTags = ["wood", "metal", "plastic"];
const sortedTags = [
  ...firstTags,
  ...tags.sort().filter((tag) => !firstTags.includes(tag)),
];
---

<BaseLayout
  title="Tags"
  description="Tag index"
  permalink="/tags"
  current="tags"
>
  <section class="all-tags flow">
    <h1>All tags</h1>
    <div class="tag-bar">
      <ul class="tags">
        {
          sortedTags.map((tag) => (
            <li>
              <TagPill tagName={tag} large />
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</BaseLayout>
