---
import BaseLayout from "../layouts/BaseLayout.astro";
import Kanji from "../components/Kanji.svelte";

const title = "About";
const description = "About the author";
const permalink = `${Astro.site.href}about`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="about"
>
  <div class="container">
    <h1>About</h1>
    <figure class="about-image"></figure>
    <p>Hello! My name is Rex. Welcome to my personal blog.</p>
    <p>
      I like making things. When people ask me <em>what</em> I like to make, I usually
      answer "sawdust" or "chips" depending on what tool I'm using at the time. Other
      valid answers include:
    </p>
    <ul>
      <li>Tools</li>
      <li>Machines</li>
      <li>Parts for tools or machines</li>
      <li>
        Jigs/fixtures to <em>hold</em> tools or parts to make or repair various tools
        and machines
      </li>
    </ul>
    <p>It's a very <em>meta</em> hobby ...</p>
    <p>
      I started with woodworking shortly after getting married. My wife is
      Japanese and we lived in the Osaka area for a while, so I grew interested
      in Japanese wordworking tools <Kanji
        client:load
        furigana="だいくどうぐ"
        romaji="daikudougu"
        >(大工道具)
      </Kanji>. Embarassingly, it took me a few decades to actually learn how to <em
        >use</em
      > the the Japanese tools I'd acquired.
    </p>
    <p>
      At some point I also started to dabble in instrument making (though I've
      only actually <em>finished</em> a couple of ukuleles, I'm still hopeful that
      I'll finish a matched pair of Weissborn lap guitars before I die.)
    </p>
    <p>
      Eventually, I started making a few tools to assist with making
      instruments. This led to my interest in metalworking: machining,
      metrology, and machine rebuilding in particular. I'm now a proud owner of
      a 1947 Montgomery Wards (Logan) Lathe, an offshore benchtop vertical mill,
      and a sixties era Gorton P1-2 pantograph engraver. That last has become my
      favorite machine of all.
    </p>
    <p>
      More recently, I've become re-interested in Japanese woodworking tools and
      especially layout techniques (<Kanji
        client:load
        furigana="きくじゅつ"
        romaji="kikujutu">規矩術</Kanji
      > or the art of measurement) after a friend finally taught me how to tune up
      my Japanese handplanes (<Kanji
        client:load
        furigana="かんな"
        romaji="kanna">鉋</Kanji
      >).
    </p>
    <p>
      This site was built using <a href="https://svelte.dev">svelte</a> components
      with <a href="https://astro.build">Astro</a>, stole some ideas from a
      template by <a href="https://www.twitter.com/Charca">Maxi Ferreira</a>,
      and uses the wonderful <a href="https://picocss.com">Pico CSS Framework</a
      >.
      <p>
        I'm not much for social media, but I can be reached at <a
          href="mailto:rw@pobox.com">rw@pobox.com</a
        >.
      </p>
    </p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    width: 300px;
    height: 300px;
    margin: 1rem;
    background-color: var(--primary);
    -webkit-mask: url(/assets/factory-worker.svg) no-repeat center;
    mask: url(/assets/factory-worker.svg) no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
    }
  }
</style>
