---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const posts = (await Astro.glob("./posts/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<BaseLayout
  title="Blog"
  description="Blog post index"
  permalink="/blog"
  current="blog"
  ><h1>Blog index</h1>
  <section class="grid">
    {
      posts.map((post) => (
        <article>
          <BlogPost
            url={post.url}
            title={post.frontmatter.title}
            pubDate={post.frontmatter.pubDate}
          />
        </article>
      ))
    }
  </section>
</BaseLayout>
