---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const posts = (await Astro.glob("./posts/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<BaseLayout
  title="Blog"
  description="Blog post index"
  permalink="/blog"
  current="blog"
>
  <p>This is where I will post about my journey learning Astro.</p>
  <article>
    {
      posts.map((post) => (
        <BlogPost
          url={post.url}
          title={post.frontmatter.title}
          pubDate={post.frontmatter.pubDate}
        />
      ))
    }
  </article>
</BaseLayout>
