---
import Kanji from "../components/Kanji.svelte";
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Rex's Tools";
const description = "Let's get our hand's dirty";
const permalink = Astro.site.href;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="home"
>
  <section>
    <h1>Rex's Tools</h1>
    <div class="hero">
      <img
        class="heroImage"
        src="/assets/wrench-600.png"
        alt="Image of a wrench"
      />
      <div class="flow">
        <p>
          Thoughts from a lifetime of collecting and <em>using</em> tools and machines
          for wood, metal, and even plastic.
        </p>
        <blockquote>
          Man is a tool-using animal. Without tools he is nothing, with tools he
          is all.
          <cite>&mdash; Thomas Carlyle</cite>
        </blockquote>
        <p class="note">
          <strong>NOTE:</strong>
          <em
            >This site occasionally uses Japanese characters (kanji). Hover over
            any <Kanji client:load romaji="kanji" furigana="かんじ">漢字</Kanji>
            characters to reveal the readings. There's a toggle in the upper right
            to display the readings in Japanese (あ) or roman/alphabetic characters
            (A).Readings are always visible on mobile devices.</em
          >
        </p>
      </div>
    </div>
  </section>
</BaseLayout>

<style>
  h1 {
    text-align: center;
    padding-block: var(--size-4);
    font-size: var(--font-size-6);
  }

  .note {
    color: var(--text-2);
    font-size: var(--font-size-1);
  }

  .hero {
    display: block;
  }
  .heroImage {
    max-height: 12vh;
    float: left;
    padding-right: var(--size-4);
    padding-block: var(--size-4);
  }

  blockquote {
    clear: left;
  }

  @media (--sm-n-above) {
    .hero {
      --flow-space: var(--size-8);
      display: flex;
    }

    h1 {
      margin-bottom: var(--size-9);
      font-size: var(--font-size-8);
      text-transform: capitalize;
    }
    .heroImage {
      float: none;
      max-height: 33vh;
      padding-right: var(--size-6);
      align-self: center;
    }

    blockquote {
      font-size: var(--font-size-3);
      display: block;
      margin-left: var(--size-8);
    }
  }
</style>
