---
import Kanji from "../components/Kanji.svelte";
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Rex's Tools";
const description = "Let's get our hand's dirty";
const permalink = Astro.site.href;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="home"
>
  <section class="hero flow">
    <h1>Rex's Tools</h1>
    <imageText class="flow">
      <img
        class="heroImage"
        src="/assets/wrench-600.png"
        alt="Image of a wrench"
      />
      <p>
        Thoughts from a lifetime of collecting and using all sorts of tools and
        machines for wood, metal, and even plastic.
      </p>
    </imageText>
    <blockquote>
      Man is a tool-using animal. Without tools he is nothing, with tools he is
      all.
      <cite>&mdash; Thomas Carlyle</cite>
    </blockquote>
    <p class="note">
      <strong>NOTE:</strong>
      <em
        >This site occasionally uses Japanese characters (kanji). Hover over any <Kanji
          client:load
          romaji="kanji"
          furigana="かんじ">漢字</Kanji
        >
        characters to reveal the readings. There's a toggle in the upper right to
        display the readings in Japanese (あ) or roman/alphabetic characters (A).Readings
        are always visible on mobile devices.</em
      >
    </p>
  </section>
</BaseLayout>

<style>
  h1 {
    margin-top: 1em;
  }

  .note {
    color: var(--text-2);
    font-size: var(--font-size-1);
  }
  .heroImage {
    float: left;
    max-width: 20em;
    max-height: 12vh;
    padding-right: var(--size-4);
    padding-top: var(--size-4);
  }

  blockquote {
    clear: left;
  }
</style>
