<footer class="container">
  <span>
    &copy; {new Date().getFullYear()} Rex Walters
    <!-- Powered by <a
      href="https://astro.build"
      target="_blank"
      rel="noopener">Astro</a
    >. Template by <a
      href="https://www.twitter.com/Charca"
      target="_blank"
      rel="noopener">Maxi Ferreira</a
    >. -->
  </span>
</footer>
