<footer>
  <span>
    &copy; {new Date().getFullYear()} Rex Walters
  </span>
</footer>

<style>
  footer {
    color: var(--text-2);
    font-size: var(--font-size-00);
    text-align: center;
    margin-top: var(--size-8);
  }
</style>
