---
import ThemeToggleButton from "./ThemeToggleButton.svelte";
import FuriToggle from "./FuriToggle.svelte";
import Logo from "./Logo.astro";

const { current = "" } = Astro.props;
---

<nav>
  <a href="/"><Logo /></a>
  <ul class="nav-links">
    <li>
      <a
        href="/"
        aria-selected={current === "home"}
        class={current === "home" ? "contrast" : "secondary"}>home</a
      >
    </li>
    <li>
      <a
        href="/blog"
        aria-selected={current === "blog"}
        class={current === "blog" ? "contrast" : "secondary"}>blog</a
      >
    </li>
    <li>
      <a
        href="/articles"
        aria-selected={current === "articles"}
        class={current === "articles" ? "contrast" : "secondary"}>articles</a
      >
    </li>
    <li>
      <a
        href="/about"
        aria-selected={current === "about"}
        class={current === "about" ? "contrast" : "secondary"}>about</a
      >
    </li>
  </ul>

  <div class="toggles">
    <ThemeToggleButton client:load />
    <FuriToggle client:load />
  </div>
</nav>

<style>
  .toggles {
    display: flex;
    align-items: center;
    gap: var(--size-3);
  }
</style>
