---
import ThemeToggleButton from "./ThemeToggleButton.svelte";
import FuriToggle from "./FuriToggle.svelte";
import Logo from "./Logo.astro";

const { current = "" } = Astro.props;
---

<nav>
  <a href="/" class="logo"><Logo /></a>
  <ul class="nav-links">
    <li>
      <a
        href="/"
        aria-selected={current === "home"}
        class={current === "home" ? "contrast" : "secondary"}>home</a
      >
    </li>
    <li>
      <a
        href="/blog"
        aria-selected={current === "blog"}
        class={current === "blog" ? "contrast" : "secondary"}>blog</a
      >
    </li>
    <li>
      <a
        href="/articles"
        aria-selected={current === "articles"}
        class={current === "articles" ? "contrast" : "secondary"}>articles</a
      >
    </li>
    <li>
      <a
        href="/about"
        aria-selected={current === "about"}
        class={current === "about" ? "contrast" : "secondary"}>about</a
      >
    </li>
  </ul>

  <div class="toggles">
    <ThemeToggleButton client:load />
    <FuriToggle client:load />
  </div>
</nav>

<style>
  nav {
    display: grid;
    gap: 0 1rem;
    grid-template-columns: repeat(6, minmax(40px, 1fr));
    grid-auto-rows: min-content;
    grid-template-areas:
      " logo  logo  logo  logo  logo  logo"
      " nlink nlink nlink nlink nlink toggle";
    background-color: var(--surface-2);
    position: sticky;
    top: 0;
    box-shadow: var(--shadow-2);
  }

  .logo {
    grid-area: logo;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    padding: 1rem 0 0.5rem;
    border-bottom: 0.25px solid var(--surface-3);
    position: relative;
  }

  .logo :global(*) {
    height: var(--size-6);
  }

  .nav-links {
    grid-area: nlink;
    display: flex;
    justify-content: space-evenly;
    gap: var(--size-4);
    align-items: center;
  }

  .nav-links a[aria-selected="true"] {
    text-decoration: underline;
  }

  .nav-links a {
    text-decoration: none;
    color: var(--brand);
    cursor: pointer;
  }

  .nav-links a:hover {
    color: var(--brand-em);
  }

  .toggles {
    grid-area: toggle;
    display: flex;
    flex-direction: column;
    gap: var(--size-1);
    padding-block: var(--size-2);
  }
</style>
