---
import ThemeToggleButton from "./ThemeToggleButton.svelte";
import FuriToggle from "./FuriToggle.svelte";
import Logo from "./Logo.astro";

const { current = "" } = Astro.props;
---

<nav>
  <ul>
    <li><a href="/"><Logo /></a></li>
  </ul>
  <ul>
    <li>
      <a
        href="/blog"
        aria-selected={current === "blog"}
        class={current === "blog" ? "contrast" : "secondary"}>blog</a
      >
    </li>
    <li>
      <a
        href="/articles"
        aria-selected={current === "articles"}
        class={current === "articles" ? "contrast" : "secondary"}>articles</a
      >
    </li>
    <li>
      <a
        href="/about"
        aria-selected={current === "about"}
        class={current === "about" ? "contrast" : "secondary"}>about</a
      >
    </li>
  </ul>

  <ul>
    <li>
      <ThemeToggleButton client:load />
    </li>
    <li>
      <FuriToggle client:load />
    </li>
  </ul>
</nav>

<style>
  .secondary {
    color: var(--secondary);
  }
  nav {
    padding: 0 2rem;
  }
</style>
