---
import ThemeToggleButton from "./ThemeToggleButton.svelte";
import FuriToggle from "./FuriToggle.svelte";
import Logo from "./Logo.astro";

const { current = "" } = Astro.props;
---

<nav>
  <ul>
    <li><Logo /></li>
  </ul>
  <ul>
    <li>
      <a
        href="/"
        aria-selected={current === "home"}
        class={current === "home" ? "primary" : "secondary"}>home</a
      >
    </li>
    <li>
      <a
        href="/about"
        aria-selected={current === "about"}
        class={current === "about" ? "primary" : "secondary"}>about</a
      >
    </li>
    <li>
      <a
        href="/blog"
        aria-selected={current === "blog"}
        class={current === "blog" ? "primary" : "secondary"}>blog</a
      >
    </li>
  </ul>

  <ul>
    <li>
      <ThemeToggleButton client:load />
    </li>
    <li>
      <FuriToggle client:load />
    </li>
  </ul>
</nav>

<style>
  .secondary {
    color: var(--secondary);
  }
</style>
