---
const { tagName } = Astro.props;
---

<a class="tag" data-tagType={tagName || "default"}>
  {tagName}
</a>

<style>
  .tag {
    background-color: var(--blue-7); /* default */
    color: var(--text-1);
    font-family: var(--font-sans);
    font-size: var(--font-size-0);
    text-transform: uppercase;
    box-shadow: var(--shadow-4);
    border-radius: 100vw;
    display: inline-block;
    padding-inline: var(--size-2);
    line-height: 1.6;
  }

  .tag:hover,
  .tag:visited {
    color: var(--text-1);
  }

  .tag[data-tagType="wood"] {
    background-color: var(--choco-12);
  }
  .tag[data-tagType="metal"] {
    background-color: var(--gray-8);
  }
  .tag[data-tagType="plastic"] {
    background-color: var(--red-9);
  }
</style>
